.App {
  background: rgb(112,183,198);
  background: linear-gradient(90deg, rgba(112,183,198,1) 67%, rgba(122,115,255,1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}
